html, body {
  overflow-x: hidden;
  margin: 0;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

header, footer {
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
}

footer {
  bottom: 0;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.hidden {
  display: none;
}

.focus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  background-repeat: no-repeat;
  margin: auto;
}

.tap {
  visibility: hidden;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 135px;
  border-radius: 3px;
  text-align: center;
  text-transform: rotate(-90deg);
  margin: auto;
}

.tap span {
  display: block;
  position: relative;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.minitap {
  visibility: inherit;
  position: relative !important;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
}

.keys {
  display: inline-block;
  padding: 0 8px;
}

.key {
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  box-shadow: 1px 1px 2px 0 rgba(103, 103, 103, 0.8);
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: 2px;
  padding: 3px;
}

.github-corner>svg {
  z-index: 1000;
}

#bongo-left {
  top: 35%;
  left: 2%;
  transform: translate(0%, -50%);
}

#bongo-right {
  top: 35%;
  right: 2%;
  transform: translate(0%, -50%);
}

#cymbal-left {
  top: 58%;
  left: 2%;
  transform: translate(0%, -50%);
}

#meow {
  top: 58%;
  right: 2%;
  transform: translate(0%, -50%);
}

#bongo-left>span, #bongo-right>span, #cymbal-left>span, #meow>span {
  writing-mode: vertical-lr;
}

#piano-keys, #marimba-keys {
  width: 100%;
  background: none !important;
  left: 50%;
  height: auto;
  transform: translate(-50%, 0%);
}

#piano-keys {
  top: 0;
}

#marimba-keys {
  bottom: 0;
  margin-bottom: 50px;
}

#bongo {
  background-image: url(../images/bongo.png);
}

#keyboard {
  background-image: url(../images/keyboard.png);
  visibility: hidden;
}

#cymbal {
  background-image: url(../images/cymbal.png);
  visibility: hidden;
}

#marimba {
  background-image: url(../images/marimba.png);
  visibility: hidden;
}

#mouth {
  background-image: url(../images/m1.png);
}

#lpaw {
  background-image: url(../images/l1.png);
}

#rpaw {
  background-image: url(../images/r1.png);
}

@media only screen and (max-width: 769px) {
  .focus {
    transform: scale(0.6, 0.6) translate(-50%, -50%);
    transform-origin: top left;
  }
}
